
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Comfortaa&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /** font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  font-family: 'Comfortaa', Arial;
  }

.amatic{
  font-family: 'Amatic SC', Arial;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav {
  background: transparent;
  color: white;
  z-index: 100;
  position: fixed;
  transition: linear background 0.1s;
}
.nav-show{
  background: rgb(255, 255, 255, 0.8);
  color: black;
  backdrop-filter: blur(8px);
}

.dropdownbtn:hover{
  background: rgb(255, 255, 255, 0.1);
  color: black;
}

.dropdownbtn:focus{
  background: rgb(255, 255, 255, 0.1);
  color: black;
}

.didyouknow{
  right: 0;
  opacity: 1;
  animation-name: slideToLeft;
  animation-duration: 1000ms;
}
@keyframes slideToLeft {
  from {
    right: '-400px';
    opacity: 0;
  }
  to{
    right: '0';
    opacity: 1;
  }
}



.preloader{
  pointer-events: none !important;
}

.kniwefwefsfwfwedwfff{
  hyphens: auto;
  word-break: break-all !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}