html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav {
  background: transparent;
  color: white;
  z-index: 100;
  position: fixed;
  transition: linear background 0.1s;
}
.nav-show{
  background: rgb(255, 255, 255, 0.8);
  color: black;
  backdrop-filter: blur(8px);
}

.dropdownbtn:hover{
  background: rgb(255, 255, 255, 0.1);
  color: black;
}

.dropdownbtn:focus{
  background: rgb(255, 255, 255, 0.1);
  color: black;
}
